* {
    box-sizing: border-box;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* border: 1px red solid; */
    padding: 10px;
    border-radius: 5px;
    border: none;
}
html {
    color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
    * {
        color: black;
    }
}
    
body {
    background-color: rgba(100, 100, 0, 0.5);
    min-height: 100svh;
    display: flex;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.container {
    margin: auto;
    width: 75%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container > * {
    width: fit-content;
    margin: auto;
}
.definition, .definition * {
    padding: 0;
    line-height: 1.5rem;
}
.definition {
    background-color: rgba(60, 187, 5, 0.62);
    width: 20rem;
    padding: 5px;
}
input[type="text"] {
    background-color: rgba(0, 0, 0, 0.242);
    font-size: 1rem;

}
button {
    margin-left: 10px;
    background-color: rgba(126, 252, 0, 0.58);
    cursor: pointer;
}
.inputs {
    background-color: chocolate;
    margin-top: 10px;
    width: 20rem;
}
.result {
    display: none;
    font-size: 14px;
}
#text-input::placeholder {
    font-size: .75rem;
    padding-left: 10px;
}
#text-input:focus::placeholder {
    color: transparent; 
}
img {
    max-width: 30vw;
    height: auto;
}